:root{
    --violet_100: #170f23;
    --violet_90:#221a2d;
    --violet_80: #221a2d;
    --btn:#3c1568;
    --btn_send: #af6ae9;
    --scrollbar:#05767a;
    --text:#fff;
    --message:#16ca1c;
    --bg_input:#c6bcd3;
    --input_focus:#d9b3f7;
    --bg_title:#48385c;
    --btn_hover:#855ab5;
    --text_title:#d24dd2;
    --bg_card_infor:#3c1568;
    --border:#7F669D;
    
}