:root {
    --width_header: 70px;
    --violet_100: #170f23;
    --violet_90: #221a2d;
    --violet_80: #221a2d;
    --btn: #4e2a7d;
    --btn_send: #af6ae9;
    --btn_hover: #5f347f74;
    --btn_acctive: #886fa374;
    --scrollbar: #05767a;
    --text: #fff;
    --text_title: #b40fb4;
    --text_black: #333333;
    --text_white_50: #ffffffc6;
    --message: #16ca1c;
    --bg_input: #000000;
    --bg_input_focus: #632692;
    --bg_title: #48385c;
    --bg_card_infor: #3c1568;
    --bg_form: #918c8c5d;
    --bg_detail_video: #4e2a7d53;
    --border: #7f669d;
    --link_hover: #af6ae9;
    --space_cover: #00000073;
    --border_radius_video: 15px;
    --box_shadow_input: #4e2a7d8d;
    --z_index_nav: 1000;
}
